@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
	user-select: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	font-family: 'Russo One', sans-serif;
}

#main-web {
	position: absolute;
	left: 10%;
	right: 10%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	letter-spacing: 1px;
}

#me-web {
	top: -80px;
	position: absolute;
	color: white;
	font-size: 40px;
	margin-left: 60px;
	cursor: pointer;
	transition: 0.3s;
}

#me-web:hover {
	color: #1A8CD8
}

#screen-web {
	position: absolute;
	top: 100px;
	width: 1280px;
	height: 720px;
	outline: 2px solid white;
	border-radius: 4px;
	box-shadow: inset 0 0 4px black;
	border-top-right-radius: 0px;
}

.empty-web {
	color: white;
	line-height: 720px;
	text-align: center;
}

.tittle-web{
	position: absolute;
	padding: 5px;
	bottom: 0px;
	right: 0px;
	background-color: white;
	border-top-left-radius: 5px;
}

#games-web {
	position: absolute;
	background-color: white;
	top: -42px;
	width: 70%;
	height: 40px;
	right: -2px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	overflow: hidden;
}

#games-web>div {
	width: 100%;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;
}

#games-web>div:hover {
	color: white;
	background-color: #1A8CD8;
}

.blue-web {color: #1A8CD8;}
.yellow-web {color: #fcba03;}
.red-web {color: #d61549;}

