/*TOP*/
#penguin-info-top {
	position: absolute;
	top: 0px;
	right: -5px;
	width: 100%;
	height: 98px;
	z-index: 1;
	background-color: var(--p3);
	background-image: url("../../img/backgrounds/texture1.png");
	box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px black, 0 1px 1px black, inset 0 0 3px white, 0 0 3px white;
	border-bottom: 5px solid var(--p1);
	border-left: 5px solid var(--p1);
	border-right: 5px solid var(--p1);
	border-bottom-left-radius: 15px;
	/*border-bottom-right-radius: 20px;*/
	animation: labFlashB 4s infinite;
}


#penguin-name {
	position: absolute;
	top: 12px;
	width: 100%;
	text-shadow: 0 0 2px black, 0 0 4px black;
	color: #ffcc5c;
	text-align: center;
	font-size: 22px;
}

#penguin-level {
	position: absolute;
	top: 36px;
	width: 100%;
	text-align: center;
	color: var(--p0);
	text-shadow: 0 0 2px black, 0 0 4px black;
}

#penguin-star-container {
	position: absolute;
	bottom: 3px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}
/*
.star {
	height: 48px;
	width: 48px;
	background-image: url("../../img/res/star.png");
	background-size: 800%;
	animation: star 0.9s steps(6) infinite;
}
.star-off {
  	height: 48px;
	width: 48px;
	background-image: url("../../img/res/star.png");
	background-size: 800%;
	opacity: 0.4;
}

@keyframes star {
  	to {background-position: -384px 0}
}*/
.star {
	height: 44px;
	width: 44px;
	font-size: 44px;
	color: var(--p6);
	text-shadow: 0 0 5px black;
}
.star-off {
  	height: 44px;
	width: 44px;
	font-size: 44px;
	color: var(--p0);
	text-shadow: 0 0 5px black;
}

/*MID*/
#penguin-info-mid {
	position: absolute;
	top: 95px;
	width: 100%;
	height: 286px;
	background-color: #dbdbdb;
	background-image: url("../../img/backgrounds/texture11.png");
	box-shadow: inset -1px -1px 1px black, inset 1px 1px 1px black;
}

#penguin-info-mid-bg {
	position: absolute;
	top: -70px;
	left: -70px;
	width: 220px;
	height: 500px;
	background-color: rgb(0,0,0,0.6);
	transform: rotate(20deg);
	border: 5px solid var(--p1);
	outline: 1px solid black;
	box-shadow: inset -1px 0 1px black, inset 0 0 3px white, 0 0 3px white;
	animation: labFlashD 4s infinite;
}


#penguin-image {
	position: absolute;
	right: -60px;
	bottom: 50px;
	transform: scaleX(-1);
	width: 256px;
	height: 256px;
	background-size: cover;
}

#penguin-type-container {
	position: absolute;
	top: 20px;
	left: 8px;
	display: flex;
	column-gap: 10px;
}

.penguin-type {
	position: relative;
	color: #ffcc5c;
	text-shadow: 0 0 2px black;
	cursor: pointer;
	z-index: 99;
}

.penguin-type-over-container {
	position: absolute;
	top: 115px;
	right: 5px;
	width: 240px;
	height: auto;
	background-color: rgb(0,0,0,0.8);
	border-radius: 5px;
	z-index: 99;
	color: #c9c9d1;
	text-shadow: 0 0 2px black;
	font-size: 12px;
	padding: 9px;
	line-height: 15px;
}

#penguin-power {
	position: absolute;
	top: 40px;
	left: 8px;
	color: #d9534f;
	text-shadow: 0 0 2px black;
	cursor: pointer;
}

#penguin-speed {
	position: absolute;
	top: 60px;
	left: 8px;
	color: #5bc0de;
	text-shadow: 0 0 2px black;
	cursor: pointer;
}

#penguin-health {
	position: absolute;
	top: 80px;
	left: 8px;
	color: #83c156;
	text-shadow: 0 0 2px black;
	cursor: pointer;
}

#penguin-fatigue {
	position: absolute;
	top: 100px;
	left: 8px;
	color: #f9f9f9;
	text-shadow: 0 0 2px black;
	cursor: pointer;
}

#roster-button {
	position: absolute;
	right: 0px;
	left: -5px;
	bottom: -1px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 47px;
	outline: 1px solid black;
	border-top: 5px solid var(--p1);
	border-left: 5px solid var(--p1);
	border-top-left-radius: 15px;
	box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px black, inset 0 1px 3px white, 0 -1px 3px white;
	cursor: pointer;
	transition: .3s;
	color: #eff6e0;
	text-shadow: 0 0 2px black, 0 0 2px black;
	background-image: url("../../img/backgrounds/texture2.png");
	animation: labFlashE 4s infinite;
}

.roster-button-on {background: var(--p5);}
.roster-button-on:hover {background: #941a14;}
.roster-button-off {background: var(--p4);}
.roster-button-off:hover {background: #699a45}
.roster-button-dis {
	background: var(--p6);
	cursor: default !important;
	pointer-events: none;
}
/*BOT*/
#penguin-info-bot {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 338px;
	background-color: var(--p2);
	background-image: url("../../img/backgrounds/texture1.png");
	outline: 1px solid black;
	box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px black;
}

#penguin-stats-info {
	position: absolute;
	font-size: 14px;
	padding: 12px;
	top: 10px;
	height: 196px;
	left: 0px;
	right: 0px;
	color: var(--p0);
	text-align: justify;
	line-height: 18px;
	text-shadow: 0 0 2px black, 0 0 2px black;
}

#pause-button {
	position: absolute;
	bottom: -1px;
	right: 20px;
	left: 20px;
	height: 28px;
	background-color: var(--p5);
	color: var(--p1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 30px;
	cursor: pointer;
	transition: 0.3s;
	background-color: var(--p5);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: 0 -2px 4px black;
	color: white;
	text-shadow: 2px 2px 2px black, 0 0 2px black;
	background-image: url("../../img/backgrounds/texture1.png");
	text-align: center;
}

#pause-button:hover {
	height: 35px;
	line-height: 35px;
	background-color: var(--r1)
}