#result-window {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 600px;
    transform: translate(-50%,-50%);
    background-color: #1e2122;
    box-shadow: 0 0 30px black;
    border-radius: 5px;
    z-index: 1;
}

#result-continue {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: #2596be;
    border-radius: 2px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 2px black;
    transition: .3s;
    cursor: pointer;
}

#result-continue:hover {filter: brightness(1.2);}

#result-text {
    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 36px;
    color: #925c5c;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#result-solution {
    position: absolute;
    top: 80px;
}

#result-stat-container {
    position: absolute;
    top: 180px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.result-stat {
    position: relative;
    color: #d1c6b7;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px black;
}

#result-color-container {
    position: absolute;
    top: 280px;
    width: 80%;
    left: 10%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.result-color {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

#result-coins {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
}


.green {color: #375}
.yellow {color: #9f9222}
.red {color: #733}