#settings-tittle {
	position: absolute;
    top: 60px;
    width: 100%;
    font-size: 64px;
    color: white;
    text-align: center;
    text-shadow: 7px 5px black;
    letter-spacing: 2px;
}

#settings-container {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 400px;
    transform: translate(-50%,-50%);
}

.settings-option, .settings-value, .setting-arrow {
	position: absolute;
	font-size: 32px;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
}

.settings-value{width: 150px}

#lenguage-option {
	top: 50px;
	left: 50px;
}

#lenguage-value {
	top: 50px;
	right: 50px;
}

#volume-option {
	top: 100px;
	left: 50px;
}

#volume-value {
	top: 100px;
	right: 50px;
}

.setting-arrow {
	cursor: pointer;
	transition: .3s;
}

.setting-arrow:hover {color: #de1d57;}

#lengauge-arrow0 {
	top: 50px;
	right: 220px;
}

#lengauge-arrow1 {
	top: 50px;
	right: 0px;
}

#volume-arrow0 {
	top: 100px;
	right: 220px;
}

#volume-arrow1 {
	top: 100px;
	right: 0px;
}


#settings-return {
	position: absolute;
	bottom: 40px;
	left: 50px;
	width: 150px;
}

#settings-return:hover{
	color: #de1d57;
    padding-left: 0px;
}
