#settings-return{
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%);
}

.settings-option, .settings-value, .setting-arrow {
	position: absolute;
	font-size: 32px;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
}
.settings-value{width: 150px}

#lenguage-option {
	top: 350px;
	left: 430px;
}

#lenguage-value {
	top: 350px;
	right: 430px;
}

#volume-option {
	top: 400px;
	left: 430px;
}

#volume-value {
	top: 400px;
	right: 430px;
}

.setting-arrow {
	cursor: pointer;
	transition: .3s;
}

.setting-arrow:hover {color: #de1d57;}

#lengauge-arrow0 {
	top: 350px;
	right: 590px;
}

#lengauge-arrow1 {
	top: 350px;
	right: 390px;
}

#volume-arrow0 {
	top: 400px;
	right: 590px;
}

#volume-arrow1 {
	top: 400px;
	right: 390px;
}

